{{ with partialCached "func/style/GetMainCSS" "style/GetMainCSS" }}
<link rel="stylesheet" href="{{ .RelPermalink }}" >
{{ end }}
{{ range site.Params.custom_css }}
  {{ with partialCached "func/style/GetResource" . . }}{{ else }}
    <link rel="stylesheet" href="{{ relURL (.) }}">
  {{ end }}
{{ end }}

<style>
  .alternating-col-section:nth-of-type(even) {
    background: #cdecff;
}
  .alternating-col-section-invert:nth-of-type(odd) {
    background: #cdecff;
}
.measure-wide {
  max-width: 50em;
}
</style>
