{{ with partialCached "func/style/GetMainCSS" "style/GetMainCSS" }}
<link rel="stylesheet" href="{{ .RelPermalink }}" >
{{ end }}
{{ range site.Params.custom_css }}
  {{ with partialCached "func/style/GetResource" . . }}{{ else }}
    <link rel="stylesheet" href="{{ relURL (.) }}">
  {{ end }}
{{ end }}

<style>
  .alternating-col-section:nth-of-type(even) {
    background: #cdecff;
}
  .alternating-col-section-invert:nth-of-type(odd) {
    background: #cdecff;
}
.measure-wide {
  max-width: 50em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
  text-align: left;
  padding: 0.5em;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid #e0e0e0;
}

tr:hover {
  background-color: #f9f9f9;
}

</style>
