{{ define "main" }}
<div class="cf pv3 pv4-l f4 center tc-l lh-copy {{ $.Param "text_color" | default "navy" }}">
    {{ $mainSections := .Site.Params.mainSections | default (slice "mainpage") }}
    {{range (first 1 $mainSections)}}
    {{ $section_name := . }}
    {{ $section := where $.Site.RegularPages "Section" "in" $section_name }}
      {{ range $section }}
        <div class="pv4-l {{ .Params.section_style | default "white" }}">
<div class="cf pv3 ph3 pv4-l f4 tj measure-wide center lh-copy {{ $.Param "text_color" | default "navy" }}">
          {{ .Content }}
	</div>
        </div>
      {{ end }}

    {{ end }}
  </div>

{{ if isset .Site.Data "speakers"}}
{{$speakers_count := len .Site.Data.speakers}}
{{ if ge $speakers_count 1}}
  <div class="{{ $.Param "text_color" | default "navy" }} alternating-col-section-invert">
    <div class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy">
      <h2>Invited Speakers</h2>
    </div>
    {{ range .Site.Data.speakers }}
    <div class="dt mw7 center pt0 pv5-m pv4-ns">
      <div class="db dtc-ns v-mid-ns ph5 ph0-ns">
        <img src="{{ .avatar | absURL }}" alt="" class="w-100 mw7 w5-ns pa1 ba b--black-10" />
      </div>
      <div class="db dtc-ns v-mid ph2 pr0-ns pl3-ns w-100">
        <p class="lh-copy">
          <h2 class="f4 mb2">{{ .name }}</h2>
          <p>{{ .position }}</p>
          <h4>{{ .talktitle }}</h4>
          <div class="tj">{{ .abstract | markdownify }}</div>
        </p>
      </div>
    </div>
    {{end}}
  </div>
{{end}}
{{end}}
</div>

{{ if isset .Site.Data "panel"}}
{{$panel_count := len .Site.Data.panel}}
{{ if ge $panel_count 1}}
    <div class="{{ $.Param "text_color" | default "navy" }}">
    <div class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy">
      <h2>Panelists</h2>
    </div>
    <div class="cf ph2-ns flex flex-wrap justify-center">
        {{ range .Site.Data.panel }}
        <div class="fl w-100 w-40-ns pa2">
          <div class="tc" >
            <img src="{{ .avatar | absURL }}" alt="" class="pa1 ba b--black-10 h5 w5" />
            <h2 class="f4 mb2">{{ .name }}</h1>
            <h3 class="f5 fw4 gray mt0">{{ .position }}</h2>
          </div>
        </div>
        {{end}}
      </div>
    </div>
    {{end}}
{{end}}


{{ if isset .Site.Data "organizers"}}
{{$organizers_count := len .Site.Data.organizers}}
{{ if ge $organizers_count 1}}
    <div class="{{ $.Param "text_color" | default "navy" }}">
    <div class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy">
      <h2>Organizers</h2>
    </div>
    <div class="cf ph2-ns flex flex-wrap justify-center">
        {{ range .Site.Data.organizers }}
        <div class="fl w-100 w-25-ns pa2">
          <div class="tc">
            <img src="{{ .avatar | absURL }}" alt="" class="pa1 ba b--black-10 h4 w4" />
            <h2 class="f4 mb2">{{ .name }}</h1>
            <h3 class="f5 fw4 gray mt0">{{ .position }}</h2>
          </div>
        </div>
        {{end}}
      </div>
    </div>
    {{end}}
{{end}}

{{ if isset .Site.Data "reviewers"}}
<div class="{{ $.Param "text_color" | default "navy" }}">
  <div class="cf ph3 ph5-l pv2 pv3-l f4 tc-l center measure-wide lh-copy">
    <h2>Reviewers</h2>
  </div>
  
  <div class="cf pv3 ph3 pv3-l f4 tj measure-wide center lh-copy">
  <p class="cf ph2-ns flex flex-wrap justify-center">
    We would like to thank our reviewers for their valuable insights and support, which made this workshop possible. Your contributions are greatly appreciated: <br><br>
    <div class="f5">
      {{.Site.Data.reviewers.reviewers }}
    </div>
</div>
</div>
{{end}}

{{ if isset .Site.Data "sponsors"}}
{{$sponsors_count := len .Site.Data.sponsors}}
{{ if ge $sponsors_count 1}}
<div class="{{ $.Param "text_color" | default "navy" }}">
  <div class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy">
    <h2>Sponsors</h2>
  </div>
  <div class="cf ph2-ns flex flex-wrap justify-center">
      {{ range .Site.Data.sponsors }}
          <img src="{{ .logo | absURL }}" alt="" class="pa1 h4" />
          
      {{end}}
    </div>
  </div>
  {{end}}
{{end}}

{{end}}
